*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(../leaf_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    
}
header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    padding: 20px 100 px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
.logo{
    position: relative;
    left: 30px;
    font-size: 2em;
    color: aliceblue;
    user-select: none;
}
.navigation a {
    position: relative;
    font-size: 1.1em;
    color: aliceblue;
    text-decoration: none;
    font-weight: 500;
    margin-right: 60px;
}

.navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: aliceblue;
    transform: scaleX(0);
    transition: transform .4s;
}
.navigation a:hover::after{
    transform: scaleX(1);
}
.navigation .LoginButton {
    position: relative;
    right: 30px;
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid aliceblue;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: aliceblue;
    font-weight: 500;
    margin-left: 40px;
    transition: .4s;
}
.navigation .LoginButton:hover{
    background-color: aliceblue;
    color: black;
}
.Profile{
    position: relative;
    background: transparent;
    left: 0;
    top: 120px;
    height: 850px;
    width: 1800px;
    color:aliceblue;
    border: 2px solid black;
    border-radius: 15px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 20px black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ProfileWELCOME {
    position: relative;
    height: 250px;
    width: 1300px;
    left: 210px;
    top: -280px;
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.2);
    border: 2px solid black;
    border-radius: 15px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px black;
    display: flex;
    align-items: center;
    padding: auto;
}
.ProfileWELCOME p {
    position: relative;
    left: 20px;
    color: aliceblue;
    font-size: 6em;
    margin-right: 50px;
    font-weight: bold;
    font-family: "Kanit", sans-serif;
    user-select: none;
}
.ProfilePicture img {
    position: fixed;
    left: 90px;
    top: 40px;
    border: 5px solid black;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 20px black;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}
.overlay {
    position: fixed;
    left: 90px;
    top: 40px;
    width: 250px;
    height: 250px;
    background: black;
    color: aliceblue;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: overlay .5s ease-in-out;
    cursor:pointer;
}
.overlay:hover {
    opacity: 0.5;
}
.iconPicture {
    position: absolute;
    top: 110px;
    left: 65px;
    font-size: 20px;
    user-select: none;
    color: aliceblue;
    align-items: center;
    width: auto;
    height: auto;
    justify-content: center;
}
.iconPICTUREhover{
    position: absolute;
    top: -15px;
    left: 30px;
    font-size: 20px;
    user-select: none;
    font-size: 3em;
    color: aliceblue;
    align-items: center;
    justify-content: center;
}


